#comments-main-container {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
    padding: 20px;
}

#comments-shown-here{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.comment-item {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.comments-user-profile-pic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}


.date-edit-and-delete-comment-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
