#edit-pin-modal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(150, 150, 150);
    padding: 20px;
}

.remove-image-btn-edit {
    position: absolute;
    top: -10px;
    right: -10px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#image-url-container-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    background-color: #fafafa;
    cursor: pointer;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
    position: relative;
    max-height: 1000px;
    width: 300px;
    height: 300px;
  }

  #image-url-container-edit:hover {
    border-color: #ff4500;
  }

  .image-preview-edit {
    /* border: 2px solid blue; */
    max-width: 200px;
    max-height: 200px;
  }

  .upload-label-edit {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .filename-edit {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    word-wrap: break-word;
    text-align: center;
    max-width: 200px;
  }

  #creating-pin-description textarea{
    /* border: 2px solid red; */
    padding: 10px;
  }

  .error-container-edit-pin {
    color: red;
    height: 15px;
    margin-top: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
