#manage-pins-container {
  width: 1200px;
  margin: 0 auto;
  /* text-align: center; */
}

.no-pins-container {
  padding: 10px;
  background-color: #f9f9f9;
  border: 2px dashed #ccc;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 16px;
}

.loader {
  font-size: 18px;
  color: #333;
}
