#pin-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.pin-item {
  position: relative;
  width: 280px;
  height: 280px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.pin-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pin-item-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;

}

.pin-item:hover .pin-item-content {
  opacity: 1;
  pointer-events: auto;
}

.pin-actions-buttons {
  /* border: 2px solid blue; */
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.pin-item:hover .pin-actions-buttons {
  opacity: 1;
}

.pin-actions-buttons button {
  background: none;
  border: none;
  /* border: 2px solid red; */
  cursor: pointer;
  color: #a1a1a1;
  transition: color 0.3s ease;
}

.pin-icons {
  font-size: 20px;
}

.delete-pin-button-manage:hover {
  color: red;
}

.edit-pin-button:hover {
  color: rgb(87, 114, 234);
}

.edit-tags-button:hover {
  color: rgb(34, 192, 100);
}
