#footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#contact-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
