#footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 60px;
  padding: 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

#contact-links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
