/* @import url(https://db.onlinewebfonts.com/c/02d8f1743ede250c7c9865f1574d7cc6?family=Circular+Book); */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  :root {
    --primary-color: rgb(0, 0, 0)
  }

  h1 {
    font-size: 1.6rem;
    font-weight: 100;
  }

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }

  button {
    height: 30px;
    cursor: pointer;
  }

  input {
    outline: none;
    height: 30px;
    padding: 0 5px;
  }

  textarea {
    resize: vertical;
  }

  select {
    height: 30px;
  }
