.profile-dropdown {
  position: absolute;
}

#logo-homepage-container {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}


#navigation-main-container{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#nav-left-container {
  /* border: 2px solid pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#nav-middle-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

#nav-explore-create-button {
  /* border: 2px solid blue; */
  cursor: pointer;

}


#nav-right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
