body {
  padding-top: 60px;
}

.profile-dropdown {
  position: absolute;
}

#logo-homepage-container {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}


#navigation-main-container {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#nav-left-container {
  /* border: 2px solid pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#nav-middle-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

#nav-explore-create-button {
  /* border: 2px solid blue; */
  cursor: pointer;

}


#nav-right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
